In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../monkeypox-build/data/nextstrain__metadata_random_300.tsv", sep = "\t")

In [4]:
df

,strain,date,date_submitted,region,clade_membership,recency,lineage,host,country,author,accession,dinuc_context_fraction,GA_CT_fraction
0,9000351,2022-08-01,2022-09-12,Europe,IIb,Older,B.1.7,Homo sapiens,United Kingdom,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP413716,1.0,1.0
1,9000377,2022-08-01,2022-09-27,Europe,IIb,Older,B.1.3,Homo sapiens,United Kingdom,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP536757,NaN,NaN
2,9000405,2022-09-01,2022-09-27,Europe,IIb,Older,B.1,Homo sapiens,United Kingdom,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP536781,1.0,1.0
3,9000407,2022-09-30,2022-09-27,Europe,IIb,Older,B.1.7,Homo sapiens,United Kingdom,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP536783,1.0,1.0
4,9000417,2022-08-31,2022-09-27,Europe,IIb,Older,B.1.2,Homo sapiens,United Kingdom,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP536791,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,MPXV22/human/USA-OK-277,2022-09-07,2022-10-17,North America,IIb,Older,B.1.2,Homo sapiens,USA,"Chapman,R.C., Bernhard,K., McCutchen,E.L., Fau...",OP650032,1.0,1.0
297,MPXV_USA_2022_TX0018,2022-06-29,2022-09-16,North America,IIb,Older,B.1.2,Homo sapiens,USA,"Gigante,C.M., Kubin,G., Zhao,H., Batra,D., Het...",OP450991,NaN,NaN
298,MPXV_USA_2022_GA0012,2022-07-01,2022-09-16,North America,IIb,Older,B.1.2,Homo sapiens,USA,"Gigante,C.M., Pavlick,J., Zhao,H., Batra,D., H...",OP451006,NaN,NaN
299,MPX/Human/USA/CA-LACPHL-MA00237/2022,2022-07-20,2022-10-27,North America,IIb,Older,B.1.2,Homo sapiens,USA,"Hemarajata,P., Green,N.M., Garrigues,J.M.",OP722496,NaN,NaN
300,hMPX/Human/USA/CA-LACPHL-MA00052/2022,2022-07-25,2022-09-15,North America,IIb,Older,B.1.2,Homo sapiens,USA,"Hemarajata,P., Green,N.M.",OP440543,NaN,NaN

In [5]:
north_america = ['Canada','USA']
western_europe = ['Austria','Germany','Switzerland','United Kingdom','France','Belgium']
central_europe = ['Slovakia','Slovenia']
southern_europe = ['Italy','Portugal','Spain']
south_american = ['Colombia','Peru']

In [6]:
df["region_coarse"] = np.nan
df.region_coarse[df.country.isin(north_america)] = "North America"
df['region_coarse'][df.country.isin(western_europe)] = "Western Europe"
df['region_coarse'][df.country.isin(central_europe)] = "Central Europe"
df['region_coarse'][df.country.isin(southern_europe)] = "Southern Europe"
df['region_coarse'][df.country.isin(south_american)] = "South America"

/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_5166/557305204.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.region_coarse[df.country.isin(north_america)] = "North America"

In [8]:
df = df[["accession", "date", "region_coarse", "country", "strain"]]
df

,accession,date,region_coarse,country,strain
0,OP413716,2022-08-01,Western Europe,United Kingdom,9000351
1,OP536757,2022-08-01,Western Europe,United Kingdom,9000377
2,OP536781,2022-09-01,Western Europe,United Kingdom,9000405
3,OP536783,2022-09-30,Western Europe,United Kingdom,9000407
4,OP536791,2022-08-31,Western Europe,United Kingdom,9000417
...,...,...,...,...,...
296,OP650032,2022-09-07,North America,USA,MPXV22/human/USA-OK-277
297,OP450991,2022-06-29,North America,USA,MPXV_USA_2022_TX0018
298,OP451006,2022-07-01,North America,USA,MPXV_USA_2022_GA0012
299,OP722496,2022-07-20,North America,USA,MPX/Human/USA/CA-LACPHL-MA00237/2022
300,OP440543,2022-07-25,North America,USA,hMPX/Human/USA/CA-LACPHL-MA00052/2022

In [9]:
df.to_csv("../monkeypox-build/data/metadata_region_300_random.tsv", sep = "\t")