In [100]:
import pandas as pd 
import geopandas as gpd
import numpy as np
from math import radians, cos, sin, asin, sqrt
from sklearn.neighbors import DistanceMetric
import os, glob
from scipy.spatial.distance import squareform

In [328]:
# Access built-in Natural Earth data via GeoPandas
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

# Get a list (dataframe) of country centroids
centroids = world.centroid
centroid_list = pd.concat([world.name, centroids], axis=1)

/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_4000/2705613767.py:5: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  centroids = world.centroid

In [329]:
#list of countries included in glm analysis based on having >5 sequences 
countries = ["Austria",
"Belgium",
"Canada",
"Colombia",
"France",
"Germany",
"Italy",
"Peru",
"Portugal",
"Slovakia",
"Slovenia",
"Spain",
"Switzerland",
"United States of America",
"United Kingdom",
]

regions = ["NorthAmerica", "WesternEurope", "CentralEurope", "SouthernEurope", "SouthAmerica"]

north_america = ['Canada','United States of America']
western_europe = ['Austria','Germany','Switzerland','United Kingdom','France','Belgium']
central_europe = ['Slovakia','Slovenia']
southern_europe = ['Italy','Portugal','Spain']
south_american = ['Colombia','Peru']

In [330]:
#separate out lat and long for mid point estimation 
glm_countries = centroid_list[centroid_list.name.isin(countries)]
glm_countries["centroids"] = glm_countries[0].astype("str")
glm_countries[["lat", "long"]] = glm_countries["centroids"].str.split("\\(([^\\)]*)\\)",expand=True)[1].str.split(" ",expand=True )
glm_countries = glm_countries[["name", "lat", "long"]].reset_index(drop = True)
glm_countries

/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_4000/2537626974.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  glm_countries["centroids"] = glm_countries[0].astype("str")
/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_4000/2537626974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  glm_countries[["lat", "long"]] = glm_countries["centroids"].str.split("\\(([^\\)]*)\\)",expand=True)[1].str.split(" ",expand=True )
/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_4000/2537626974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  glm_countries[["lat", "long"]] = glm_countries["centroids"].str.split("\\(([^\\)]*)\\)",expand=True)[1].str.split(" ",expand=True )

                        name                  lat                long
0                     Canada   -98.14238137209708   61.46907614534896
1   United States of America   -112.5994359115045   45.70562800215178
2                       Peru   -74.39180581684722  -9.191562905134553
3                   Colombia   -73.07773208697478   3.927213862709704
4                     France  -2.8766966992706267   42.46070432663372
5                    Austria   14.076158884337072    47.6139487927463
6                    Germany   10.288485092742851   51.13372269040778
7                Switzerland    8.118300613385486   46.79173768366762
8                    Belgium    4.580834113854935   50.65244095902296
9                   Portugal   -8.055765588295687   39.63404977497817
10                     Spain  -3.6170206023873743  40.348656106226734
11                     Italy   12.140788372235871  42.751183052964265
12            United Kingdom  -2.8531353951805545   53.91477348053706
13                  Slovenia   14.938152320795732   46.12542205901039
14                  Slovakia   19.507657147433708    48.7267113517275

In [331]:
#assign region. Im sure there's a better, more pythonic way of doing this rather than repeating it.... maybe dictionaires?
glm_countries["region_coarse"] = np.nan
glm_countries["region_coarse"][glm_countries.name.isin(north_america)] = "NorthAmerica"
glm_countries['region_coarse'][glm_countries.name.isin(western_europe)] = "WesternEurope"
glm_countries['region_coarse'][glm_countries.name.isin(central_europe)] = "CentralEurope"
glm_countries['region_coarse'][glm_countries.name.isin(southern_europe)] = "SouthernEurope"
glm_countries['region_coarse'][glm_countries.name.isin(south_american)] = "SouthAmerica"
glm_countries.to_csv("countries_lat_long.csv")

/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_4000/3175159724.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  glm_countries["region_coarse"][glm_countries.name.isin(north_america)] = "NorthAmerica"

In [332]:
#assuming the earth is flat for nearby countries, I take the mean of the centroids in each region to find the midpoint between them 
glm_countries.lat = glm_countries.lat.astype("float")
glm_countries.long = glm_countries.long.astype("float")
glm_regions = glm_countries.groupby('region_coarse').mean().reset_index()
glm_regions.to_csv("region_lat_log.csv")

In [333]:
#convert to radians
glm_regions['lat'] = np.radians(glm_regions['lat'])
glm_regions['long'] = np.radians(glm_regions['long'])

In [334]:
#access the scipy distance metric function for haversine distance
dist = DistanceMetric.get_metric('haversine')

In [335]:
#make symmetric distance matrix for regions
distance_regions =pd.DataFrame(dist.pairwise(glm_regions[['lat','long']].to_numpy())*3798, columns =glm_regions.region_coarse.unique(), index=glm_regions.region_coarse.unique()) #calculate pairwise distance in miles
distance_regions.to_csv("../mascot_glm/data/regions_distance_matrix.csv")

In [336]:
glm_countries

                        name         lat       long   region_coarse
0                     Canada  -98.142381  61.469076    NorthAmerica
1   United States of America -112.599436  45.705628    NorthAmerica
2                       Peru  -74.391806  -9.191563    SouthAmerica
3                   Colombia  -73.077732   3.927214    SouthAmerica
4                     France   -2.876697  42.460704   WesternEurope
5                    Austria   14.076159  47.613949   WesternEurope
6                    Germany   10.288485  51.133723   WesternEurope
7                Switzerland    8.118301  46.791738   WesternEurope
8                    Belgium    4.580834  50.652441   WesternEurope
9                   Portugal   -8.055766  39.634050  SouthernEurope
10                     Spain   -3.617021  40.348656  SouthernEurope
11                     Italy   12.140788  42.751183  SouthernEurope
12            United Kingdom   -2.853135  53.914773   WesternEurope
13                  Slovenia   14.938152  46.125422   CentralEurope
14                  Slovakia   19.507657  48.726711   CentralEurope

## now do the same for countries

In [337]:
#convert to radians
glm_countries['lat'] = np.radians(glm_countries['lat'])
glm_countries['long'] = np.radians(glm_countries['long'])

In [344]:
distance_countries = pd.DataFrame(dist.pairwise(glm_countries[['lat','long']].to_numpy())*3798, columns =glm_countries.name.unique(), index=glm_countries.name.unique()) #calculate pairwise distance in miles
distance_countries.rename(columns = {"United States of America": "USA", "United Kingdom": "UnitedKingdom"}, inplace= True)
distance_countries.rename(index = {"United States of America": "USA", "United Kingdom": "UnitedKingdom"}, inplace= True)

distance_countries.to_csv("../mascot_glm/data/countries_distance_matrix.csv")

In [345]:
distance_countries

,Canada,USA,Peru,Colombia,France,Austria,Germany,Switzerland,Belgium,Portugal,Spain,Italy,UnitedKingdom,Slovenia,Slovakia
Canada,0.000000,988.984134,1313.453704,1481.001082,6285.524618,7422.313695,7178.573976,7025.676895,6799.512065,5933.415008,6229.697102,7280.796373,6311.813211,7475.722697,7784.655302
USA,988.984134,0.000000,2249.188579,2445.121780,7270.775126,8396.042921,8138.282242,8001.787680,7761.510176,6921.577223,7217.457513,8266.423232,7258.961590,8454.113537,8754.486414
Peru,1313.453704,2249.188579,0.000000,258.028857,5142.664159,6313.359871,6121.480059,5916.502441,5746.197480,4767.358642,5064.896793,6119.397927,5319.023170,6347.623129,6679.998476
Colombia,1481.001082,2445.121780,258.028857,0.000000,4906.150550,6074.207094,5875.890261,5676.554007,5499.511860,4534.201728,4832.098145,5888.062967,5066.741426,6111.258098,6441.076867
France,6285.524618,7270.775126,5142.664159,4906.150550,0.000000,1173.692085,1043.675662,783.066034,733.997513,390.673481,148.141357,995.657029,758.312283,1205.158817,1538.926483
Austria,7422.313695,8396.042921,6313.359871,6074.207094,1173.692085,0.000000,339.160174,398.533556,659.982037,1558.148659,1266.365112,339.122441,1196.168100,111.308963,366.894459
Germany,7178.573976,8138.282242,6121.480059,5875.890261,1043.675662,339.160174,0.000000,318.440517,379.665610,1433.361872,1164.682896,558.663488,890.254343,447.088016,630.219286
Switzerland,7025.676895,8001.787680,5916.502441,5676.554007,783.066034,398.533556,318.440517,0.000000,345.913819,1171.795637,886.920388,374.945158,866.435145,454.135675,765.139220
Belgium,6799.512065,7761.510176,5746.197480,5499.511860,733.997513,659.982037,379.665610,345.913819,0.000000,1110.159887,872.340771,720.574947,538.071455,747.375313,997.257645
Portugal,5933.415008,6921.577223,4767.358642,4534.201728,390.673481,1558.148659,1433.361872,1171.795637,1110.159887,0.000000,297.981608,1354.448784,1003.138508,1582.782060,1921.151652
Spain,6229.697102,7217.457513,5064.896793,4832.098145,148.141357,1266.365112,1164.682896,886.920388,872.340771,297.981608,0.000000,1056.475455,899.245706,1287.145135,1627.230565
Italy,7280.796373,8266.423232,6119.397927,5888.062967,995.657029,339.122441,558.663488,374.945158,720.574947,1354.448784,1056.475455,0.000000,1236.405317,285.760444,619.226336
UnitedKingdom,6311.813211,7258.961590,5319.023170,5066.741426,758.312283,1196.168100,890.254343,866.435145,538.071455,1003.138508,899.245706,1236.405317,0.000000,1285.417622,1520.284144
Slovenia,7475.722697,8454.113537,6347.623129,6111.258098,1205.158817,111.308963,447.088016,454.135675,747.375313,1582.782060,1287.145135,285.760444,1285.417622,0.000000,344.756339
Slovakia,7784.655302,8754.486414,6679.998476,6441.076867,1538.926483,366.894459,630.219286,765.139220,997.257645,1921.151652,1627.230565,619.226336,1520.284144,344.756339,0.000000

## formatting air travel data from vittoria

In [28]:
air_folder = "../data/2022_apr_dec/"

### Starting off with countries

In [346]:

concat_air = pd.DataFrame()
count = 0
for filename in glob.glob("../data/2022_apr_dec/specific_countries/*"):
    if count == 0:
        concat_air =  pd.read_csv(filename)
        count+=1
    else:
        temp = pd.read_csv(filename)
        concat_air = pd.concat([concat_air,temp])

In [347]:
concat_air["Date"] = concat_air.apply(lambda row: str(row.Month) + "-01-2022", axis = 1)
concat_air["Date"] = pd.to_datetime(concat_air["Date"])

In [348]:
multi_ind_air = pd.DataFrame(concat_air.groupby([ "Orig Country", "Dest Country", "Date"])["Total Market Pax"].mean())

In [349]:
multi_ind_air

                                        Total Market Pax
Orig Country  Dest Country  Date
Austria       Austria       2022-04-01            3527.0
                            2022-05-01            6778.0
                            2022-06-01            7538.0
                            2022-07-01            5157.0
                            2022-08-01            5440.0
...                                                  ...
United States United States 2022-08-01        47672202.0
                            2022-09-01        44808478.0
                            2022-10-01        49746970.0
                            2022-11-01        47158263.0
                            2022-12-01        48085118.0

[1928 rows x 1 columns]

In [350]:
first_date = pd.Timestamp('2022-05-07')
end_date = pd.Timestamp('2023-01-28')
dates = pd.date_range(first_date, end_date, freq='W-Sat')
dates.name = 'date'

In [351]:
dates

DatetimeIndex(['2022-05-07', '2022-05-14', '2022-05-21', '2022-05-28',
               '2022-06-04', '2022-06-11', '2022-06-18', '2022-06-25',
               '2022-07-02', '2022-07-09', '2022-07-16', '2022-07-23',
               '2022-07-30', '2022-08-06', '2022-08-13', '2022-08-20',
               '2022-08-27', '2022-09-03', '2022-09-10', '2022-09-17',
               '2022-09-24', '2022-10-01', '2022-10-08', '2022-10-15',
               '2022-10-22', '2022-10-29', '2022-11-05', '2022-11-12',
               '2022-11-19', '2022-11-26', '2022-12-03', '2022-12-10',
               '2022-12-17', '2022-12-24', '2022-12-31', '2023-01-07',
               '2023-01-14', '2023-01-21', '2023-01-28'],
              dtype='datetime64[ns]', name='date', freq='W-SAT')

In [352]:
daily_air = multi_ind_air.reindex( pd.MultiIndex.from_product([multi_ind_air.index.levels[0], multi_ind_air.index.levels[1],
dates], names=['Orig Country', 'Dest Country', "Date"]),method = 'ffill').reset_index()

In [353]:
daily_air

       Orig Country   Dest Country       Date  Total Market Pax
0           Austria        Austria 2022-05-07            6778.0
1           Austria        Austria 2022-05-14            6778.0
2           Austria        Austria 2022-05-21            6778.0
3           Austria        Austria 2022-05-28            6778.0
4           Austria        Austria 2022-06-04            7538.0
...             ...            ...        ...               ...
8770  United States  United States 2022-12-31        48085118.0
8771  United States  United States 2023-01-07        48085118.0
8772  United States  United States 2023-01-14        48085118.0
8773  United States  United States 2023-01-21        48085118.0
8774  United States  United States 2023-01-28        48085118.0

[8775 rows x 4 columns]

In [354]:

count = 0
for date in dates: 
    if count == 0:
        full_matrix = daily_air[daily_air.Date == date].groupby(['Orig Country', 'Dest Country'])["Total Market Pax"].mean().unstack().fillna(0.1)
        count +=1
    
    else:
        summary = daily_air[daily_air.Date == date].groupby(['Orig Country', 'Dest Country'])["Total Market Pax"].mean().unstack().fillna(0.1)
        full_matrix = pd.concat([full_matrix, summary], axis = 1)

In [358]:
full_matrix.index.name = None
full_matrix.columns.name = None
full_matrix.rename(columns = {"United States": "USA", "United Kingdom": "UnitedKingdom"}, inplace= True)
full_matrix.rename(index = {"United States": "USA", "United Kingdom": "UnitedKingdom"}, inplace= True)

In [359]:
full_matrix

,Austria,Belgium,Canada,Colombia,France,Germany,Italy,Peru,Portugal,Slovakia,...,Germany,Italy,Peru,Portugal,Slovakia,Slovenia,Spain,Switzerland,UnitedKingdom,USA
Austria,6778.0,14850.0,4251.0,366.0,44502.0,138366.0,82300.0,296.0,18023.0,1851.0,...,125822.0,60280.0,417.0,14920.0,1140.0,26.0,73537.0,28213.0,111624.0,25583.0
Belgium,15423.0,20063.0,5417.0,498.0,64197.0,28712.0,131032.0,440.0,58178.0,2238.0,...,22992.0,110384.0,361.0,39010.0,1495.0,1805.0,146493.0,26573.0,38068.0,35578.0
Canada,3813.0,4533.0,2553368.0,7637.0,73635.0,27183.0,35467.0,3325.0,26219.0,27.0,...,30006.0,9837.0,6093.0,13397.0,22.0,41.0,9789.0,10130.0,66807.0,967447.0
Colombia,351.0,600.0,10401.0,2458877.0,7262.0,4298.0,4342.0,30159.0,1125.0,961.0,...,5682.0,3426.0,29117.0,961.0,961.0,6.0,61049.0,1892.0,6748.0,197219.0
France,46001.0,61878.0,72500.0,4904.0,1714067.0,163212.0,489706.0,4747.0,310503.0,134.0,...,108039.0,392972.0,3545.0,302187.0,74.0,1319.0,381981.0,111013.0,315799.0,227295.0
Germany,141030.0,27240.0,36909.0,2898.0,167417.0,448359.0,446410.0,2059.0,187641.0,1255.0,...,328539.0,237109.0,2286.0,115207.0,637.0,2153.0,618594.0,98550.0,339843.0,323288.0
Italy,83804.0,130831.0,31042.0,3128.0,498200.0,428129.0,3155111.0,7360.0,106223.0,7699.0,...,223615.0,2328217.0,7428.0,93628.0,5286.0,98.0,414108.0,71011.0,447529.0,150749.0
Peru,489.0,435.0,3906.0,33196.0,5013.0,2035.0,6761.0,877665.0,649.0,435.0,...,2097.0,9761.0,1060530.0,435.0,435.0,13.0,25913.0,897.0,2021.0,70037.0
Portugal,17147.0,57944.0,22059.0,882.0,318510.0,186677.0,100786.0,670.0,378136.0,46.0,...,104610.0,92446.0,332.0,323507.0,27.0,190.0,165838.0,103354.0,247188.0,34378.0
Slovakia,2157.0,2385.0,42.0,31.0,156.0,1493.0,7837.0,5378.0,27.0,31.0,...,704.0,5378.0,5378.0,31.0,291.0,3.0,1553.0,454.0,22223.0,176.0
Slovenia,103.0,3319.0,285.0,17.0,3284.0,2310.0,141.0,91.0,208.0,233.0,...,1871.0,91.0,11.0,233.0,3.0,3.0,469.0,1285.0,4948.0,516.0
Spain,103240.0,226358.0,21504.0,44457.0,582005.0,1057118.0,609751.0,18575.0,181662.0,2364.0,...,558871.0,406971.0,19240.0,168748.0,1358.0,617.0,2497420.0,164275.0,950427.0,129966.0
Switzerland,31213.0,23457.0,9637.0,1045.0,122587.0,120981.0,124957.0,922.0,109464.0,562.0,...,98038.0,71432.0,1178.0,107258.0,536.0,1433.0,167166.0,2697.0,266196.0,69943.0
UnitedKingdom,57688.0,29251.0,101513.0,3382.0,378980.0,339018.0,573697.0,2678.0,428055.0,22725.0,...,349796.0,456070.0,2381.0,248188.0,22224.0,4931.0,962404.0,288038.0,977189.0,493598.0
USA,36079.0,39888.0,868745.0,184783.0,292998.0,374534.0,222702.0,65401.0,61918.0,314.0,...,326240.0,146527.0,59072.0,40129.0,299.0,621.0,146366.0,72800.0,528837.0,48085118.0

In [360]:
full_matrix.to_csv("daily_country_matrix_air.csv")

### now do regions

In [316]:

concat_air = pd.DataFrame()
count = 0
for filename in glob.glob("../data/2022_apr_dec/specific_regions/*"):
    if count == 0:
        concat_air =  pd.read_csv(filename)
        count+=1
    else:
        temp = pd.read_csv(filename)
        concat_air = pd.concat([concat_air,temp])

In [317]:
concat_air

    Month     Orig Region      Dest Region  Total Market Pax
0      12  central_europe    north_america               784
1      12  central_europe    south_america                34
2      12  central_europe  southern_europe              7755
3      12  central_europe   western_europe             36695
4      12   north_america   central_europe               983
..    ...             ...              ...               ...
19     11  western_europe   central_europe             32696
20     11  western_europe    north_america           1256224
21     11  western_europe    south_america             29105
22     11  western_europe  southern_europe           4349399
23     11  western_europe   western_europe           5565724

[213 rows x 4 columns]

In [318]:
concat_air["Date"] = concat_air.apply(lambda row: str(row.Month) + "-01-2022", axis = 1)
concat_air["Date"] = pd.to_datetime(concat_air["Date"])

In [319]:
multi_ind_air = pd.DataFrame(concat_air.groupby([ "Orig Region", "Dest Region", "Date"])["Total Market Pax"].mean())

In [320]:
multi_ind_air

                                          Total Market Pax
Orig Region    Dest Region    Date
central_europe central_europe 2022-08-01               6.0
                              2022-09-01             291.0
               north_america  2022-04-01            1209.0
                              2022-05-01            1281.0
                              2022-06-01            2345.0
...                                                    ...
western_europe western_europe 2022-08-01         6497106.0
                              2022-09-01         6685811.0
                              2022-10-01         6732773.0
                              2022-11-01         5565724.0
                              2022-12-01         6186032.0

[213 rows x 1 columns]

In [321]:
daily_air = multi_ind_air.reindex( pd.MultiIndex.from_product([multi_ind_air.index.levels[0], multi_ind_air.index.levels[1],
dates], names=['Orig Region', 'Dest Region', "Date"]),method = 'ffill').reset_index()
daily_air.bfill(inplace= True)

In [322]:

count = 0
for date in dates: 
    if count == 0:
        full_matrix = daily_air[daily_air.Date == date].groupby(['Orig Region', 'Dest Region'])["Total Market Pax"].mean().unstack().fillna(0.1)
        count +=1
    
    else:
        summary = daily_air[daily_air.Date == date].groupby(['Orig Region', 'Dest Region'])["Total Market Pax"].mean().unstack().fillna(0.1)
        full_matrix = pd.concat([full_matrix, summary], axis = 1)

In [323]:
full_matrix.index.name = None
full_matrix.columns.name = None
full_matrix.rename(columns = {"central_europe": "CentralEurope", "north_america": "NorthAmerica", "south_america": "SouthAmerica", "southern_europe": "SouthernEurope", "western_europe":"WesternEurope"}, inplace= True)
full_matrix.rename(index = {"central_europe": "CentralEurope", "north_america": "NorthAmerica", "south_america": "SouthAmerica", "southern_europe": "SouthernEurope", "western_europe":"WesternEurope"}, inplace= True)

In [324]:
full_matrix

,CentralEurope,NorthAmerica,SouthAmerica,SouthernEurope,WesternEurope,CentralEurope,NorthAmerica,SouthAmerica,SouthernEurope,WesternEurope,...,CentralEurope,NorthAmerica,SouthAmerica,SouthernEurope,WesternEurope,CentralEurope,NorthAmerica,SouthAmerica,SouthernEurope,WesternEurope
CentralEurope,6.0,1281.0,17.0,11345.0,48338.0,6.0,1281.0,17.0,11345.0,48338.0,...,291.0,784.0,34.0,7755.0,36695.0,291.0,784.0,34.0,7755.0,36695.0
NorthAmerica,1387.0,51988948.0,261146.0,563948.0,1650727.0,1387.0,51988948.0,261146.0,563948.0,1650727.0,...,983.0,52356027.0,308959.0,366045.0,1385914.0,983.0,52356027.0,308959.0,366045.0,1385914.0
SouthAmerica,7.0,273316.0,3399897.0,105373.0,31655.0,7.0,273316.0,3399897.0,105373.0,31655.0,...,13.0,283794.0,3678302.0,101545.0,32740.0,13.0,283794.0,3678302.0,101545.0,32740.0
SouthernEurope,11265.0,489760.0,75072.0,8275585.0,6861536.0,11265.0,489760.0,75072.0,8275585.0,6861536.0,...,7576.0,346128.0,88388.0,6490883.0,4372139.0,7576.0,346128.0,88388.0,6490883.0,4372139.0
WesternEurope,47561.0,1476825.0,24235.0,7081249.0,6578228.0,47561.0,1476825.0,24235.0,7081249.0,6578228.0,...,37773.0,1336120.0,36565.0,4505192.0,6186032.0,37773.0,1336120.0,36565.0,4505192.0,6186032.0

In [325]:
full_matrix.to_csv("regions_air_travel_matrix.csv")