In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../monkeypox-build/data/nextstrain__metadata_3000.tsv", sep = "\t")

In [3]:
df

,strain,date,host,recency,date_submitted,lineage,region,clade_membership,country,author,accession,GA_CT_fraction,dinuc_context_fraction
0,4061,2022-05-20,Homo sapiens,Older,2022-06-24,B.1,Europe,IIb,Spain,"de la Hoz-Sanchez,B., Lopez-Ortiz,M., Gutierre...",ON838940,NaN,NaN
1,8887,2022-06-06,Homo sapiens,Older,2022-06-24,B.1,Europe,IIb,Spain,"de la Hoz-Sanchez,B., Lopez-Ortiz,M., Gutierre...",ON838939,NaN,NaN
2,9000231,2022-07-25,Homo sapiens,Older,2022-09-12,B.1.2,Europe,IIb,United Kingdom,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP413713,NaN,NaN
3,9000289,2022-08-01,Homo sapiens,Older,2022-09-12,B.1.5,Europe,IIb,United Kingdom,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP413714,NaN,NaN
4,9000327,2022-08-17,Homo sapiens,Older,2022-09-12,B.1.2,Europe,IIb,United Kingdom,"Groves,N., Osman,K.L., Lewandowski,K.S., Carte...",OP413715,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008,hMPX/Human/USA/CA-LACPHL-MA00053/2022,2022-07-25,Homo sapiens,Older,2022-09-15,B.1.2,North America,IIb,USA,"Hemarajata,P., Green,N.M.",OP440544,NaN,NaN
3009,MPX/Human/USA/CA-LACPHL-MA00237/2022,2022-07-20,Homo sapiens,Older,2022-10-27,B.1.2,North America,IIb,USA,"Hemarajata,P., Green,N.M., Garrigues,J.M.",OP722496,NaN,NaN
3010,MPX/Human/USA/CA-LACPHL-MA00144/2022,2022-08-30,Homo sapiens,Older,2022-09-27,B.1.2,North America,IIb,USA,"Hemarajata,P., Green,N.M., Garrigues,J.M.",OP539929,NaN,NaN
3011,Monkeypox virus/Human/USA/CA-LACPHL-MA00379/2022,2022-10-12,Homo sapiens,Older,2023-01-26,B.1.2,North America,IIb,USA,"Hemarajata,P., Green,N.M., Garrigues,J.M.",OQ330985,1.0,1.0
3012,MPXV/Human/USA/CA-LACPHL-MA00303/2022,2022-09-29,Homo sapiens,Older,2022-11-24,B.1.2,North America,IIb,USA,"Hemarajata,P., Green,N.M., Garrigues,J.M.",OP890537,1.0,1.0

In [4]:
north_america = ['Canada','USA']
western_europe = ['Austria','Germany','Switzerland','United Kingdom','France','Belgium']
central_europe = ['Slovakia','Slovenia']
southern_europe = ['Italy','Portugal','Spain']
south_american = ['Colombia','Peru']

In [5]:
df["region_coarse"] = np.nan
df.region_coarse[df.country.isin(north_america)] = "North America"
df['region_coarse'][df.country.isin(western_europe)] = "Western Europe"
df['region_coarse'][df.country.isin(central_europe)] = "Central Europe"
df['region_coarse'][df.country.isin(southern_europe)] = "Southern Europe"
df['region_coarse'][df.country.isin(south_american)] = "South America"

/var/folders/h9/0347drb57tsgxzbddmvmlvf80000gp/T/ipykernel_26532/557305204.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.region_coarse[df.country.isin(north_america)] = "North America"

In [6]:
df = df[["accession", "date", "region_coarse", "country", "strain"]]
df

,accession,date,region_coarse,country,strain
0,ON838940,2022-05-20,Southern Europe,Spain,4061
1,ON838939,2022-06-06,Southern Europe,Spain,8887
2,OP413713,2022-07-25,Western Europe,United Kingdom,9000231
3,OP413714,2022-08-01,Western Europe,United Kingdom,9000289
4,OP413715,2022-08-17,Western Europe,United Kingdom,9000327
...,...,...,...,...,...
3008,OP440544,2022-07-25,North America,USA,hMPX/Human/USA/CA-LACPHL-MA00053/2022
3009,OP722496,2022-07-20,North America,USA,MPX/Human/USA/CA-LACPHL-MA00237/2022
3010,OP539929,2022-08-30,North America,USA,MPX/Human/USA/CA-LACPHL-MA00144/2022
3011,OQ330985,2022-10-12,North America,USA,Monkeypox virus/Human/USA/CA-LACPHL-MA00379/2022
3012,OP890537,2022-09-29,North America,USA,MPXV/Human/USA/CA-LACPHL-MA00303/2022

In [7]:
df.to_csv("../monkeypox-build/data/metadata_region_3000_all.tsv", sep = "\t")